.page {
  --whitish: #fffcfb;
  --redish: #ed3500;
  --bluish: #093fb4;
}

.page {
  background-color: var(--whitish);
  display: flex;
  width: 100vw;
  height: 100vh;
}

.title {
  color: var(--redish);
  width: 100vw;
  text-align: center;
  margin: 2rem auto;
}
